<div class="container-fluid">
    <div class="row" style="margin:35px">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="jumbotron" style="padding-bottom:25px">
                <h2>This is still under construction.</h2>
                <br>
                <p>Come back soon, hopefully the website will look better!</p>
            </div>
        </div>
    </div>
</div>