<div class="container-fluid">
    <div class="row"  style="margin:35px">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <h1>Website coming soon!</h1>
                <p>We're working on creating a website with documentation, a usage guide, and more! Until then, check out our GitHub repo:</p>
                <p><a class="btn btn-primary brn-lg btn-block" href="http://github.com/ExtensibleHomeInterface/EHI-Server" role="button">View Github Repository</a></p>
            </div>
        </div>
    </div>
</div>