.intro-header-reg {
    background: repeat;
    background-color: #65A692;
    background-image: url(../img/light-wool.png);
}

.icon {
    width: 125px;
    height: 125px;
    fill : #65A692;
    border: 5px solid #dbdbdb;
    border-radius: 5px;
}

.block {
    border-left-style: solid;
    border-width: 1px;
    border-color: #dbdbdb
}
.block-margin {
    margin-bottom: 30px;
    margin-top: 30px;
}
.block-btn-margin {
    margin-top: 30px;
}

.block:last-child {
    border-right-style: solid;
}